<%= form_with(model: safety_precaution, local: true) do |form| %>
  <% if safety_precaution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(safety_precaution.errors.count, "error") %> prohibited this safety_precaution from being saved:</h2>

      <ul>
      <% safety_precaution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
