.jumbotron
  %h3.display-3
  .list-group
    %a.list-group-item.list-group-item-action.active{:href => "#"}
      %h4 Search MSDS sheet
    %a.list-group-item.list-group-item-action
      =render 'search_msds'
      =render 'chemicals_with_safety_precaution'
  %p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
  %hr.my-4/
  %p.lead