%h1 Listing safety_precautions

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @safety_precautions.each do |safety_precaution|
      %tr
        %td= link_to 'Show', chemical_safety_precaution_path(safety_precaution.chemical, safety_precaution)
        %td= link_to 'Edit', edit_chemical_safety_precaution_path(safety_precaution.chemical, safety_precaution)
        %td= link_to 'Destroy',chemical_safety_precaution_path(safety_precaution.chemical, safety_precaution), method: :delete, data: { confirm: 'Are you sure?' }
%br
