.jumbotron
  %p.lead A Material Safety Data Sheet (MSDS) contains information on the properties and potential hazards of the material. Read before you start working to know how to use it safely, and what to do if there is an emergency.
  %hr.my-4/
  %p.leads
  .row
    .col-4
      = render 'safety_precautions/shared/sidebar_msds'
    .col-8
      = render 'safety_precautions/shared/safety_precaution_feature_table'
    .col-md-12.btn-margin
      = link_to 'Back', chemicals_path, class: 'btn btn-outline-primary'

