.col-md-8
  .card.border-secondary.mb-3{:style => "max-width: 20rem;"}
    .card-header Control Panel
    .card-body
      .col-md-12.btn_margin
        = link_to t('chemical.columns.new_safety_precaution'), new_item_path(@item), class: 'btn btn-secondary'
      .col-md-12.btn_margin
        = link_to t('chemical.columns.new_category'), new_category_path, class: 'btn btn-secondary'
      .col-md-12.btn_margin
        = link_to t('chemical.columns.new_chemical'), new_category_chemical_path(category_id: @category.id), class: 'btn btn-secondary'
      .col-md-12.btn_margin
        = link_to t('chemical.columns.new_item'), new_item_path(@item), class: 'btn btn-secondary'
