%table.table.table-info.center-content
  %thead
    %tr
      %th= t('chemical.columns.name')
      %th= t('chemical.columns.cas_number')
    %tbody
      %tr
        - @chemicals.each do |chemical|
          %tr
          %td= link_to chemical.chemical_name, chemical_path(chemical)
          %td= chemical.cas_number

