<div class="pull-right">
  <%= search_form_for @q, html: {class: "form-tag"} do |f| %>
    <%= f.search_field :chemical_name_cont, placeholder: "Search chemical", class: "form-control" %>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</div>


