.backgrounds-carousel {

  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;

  .background-slide {
    height: 50vh;
    min-height: 400px;
    text-align: center;
    width: 62vw;
  }

  @for $i from 1 through 3 {
    .background-slide-#{$i} {
      background: url('backgrounds/#{$i}.jpg') no-repeat center center;
      background-size: cover;

    }
  }
}
