.backgrounds-carousel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  .background-slide {
    text-align: center;
    margin: auto;
    height: 90vh;
    width: 90vw;
  }

  @for $i from 1 through 3 {
    .background-slide-#{$i} {
      background: url('backgrounds/#{$i}.jpg') no-repeat center center;
      background-size: cover;
    }
  }
}
