@import "framework_and_overrides";
body {
  background-color: $white;
  color: $black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#dropdown-menu-link{
  border: 5px black;
  color: $white;
  margin-bottom: 10px;
  background-color: $navy-blue;

}

#btn.dropdown-toggle{
  font-size: $fs-1;

}
/*.header {
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
  font-size: $fs-1;
  z-index: $z-index-2;
  margin-top: 200px;
  padding-left:  50px;
}*/


#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: white;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: $white;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}


footer {
  background-color: $navy_blue;
  padding: 0;
  text-align: center;
  font-size: 1em;
  min-height: 100px;
  width: 100%;
  position: relative;
  bottom: 0px;
  display: flex;

  .footer-brand {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
  }


  .footer-links {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;

    .footer-links-container {
      display: flex;
      width: 130px;
      height: 90px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .footer-link {
      flex-basis: 30px;
      color: rgba(74, 74, 74, 0.7);
      font-weight: bold;
      text-decoration: none;
      margin: 0;

      &:hover {
        color: $black;
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    min-height: 140px;
    .footer-brand {
      display: none;
    }
    .footer-links {
      flex: 1;
    }
  }
}

@media (max-width: 480px) {
  footer {
    min-height: 70px;
    .footer-links {
      display: none;
    }
    .footer-brand {
      display:none;
    }
  }
}
