%table.table-condensed
  %tbody
    %tr
      %td= t('category.columns.name')
      %td= @category.category_name

= link_to 'Edit', edit_category_path(@category), class: 'btn-btn-primary'
= link_to 'Back', chemicals_path, class: 'btn-btn-warning'
